.container h1 , h2 ,label {
    color: azure;
}
#dataContainer {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
.input-container {
    align-items: start;
    margin: 10px;
}

input {
    background-color: transparent;
    border-radius: 2px;
    border:2px solid;
    color: white;
}

